<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ siteTitle }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block metaInformation %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/{{ dependencies.bootstrap.version }}/css/bootstrap.min.css" />
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/{{ dependencies.fontawesome.version }}/css/font-awesome.min.css" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <aside class="pull-left bg-success">
                <nav>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" id="home-link"{% if navigation.active == 'home' %} class="active"{% endif %}><a href="{{ path('acp.home') }}">{% trans from 'TwoMartensCoreBundle' %}acp.nav.home{% endtrans %}</a></li>
                        <li role="presentation" id="system-link"{% if navigation.active == 'system' %} class="active"{% endif %}><a href="{{ path('acp.system') }}">{% trans from 'TwoMartensCoreBundle' %}acp.nav.system{% endtrans %}</a></li>
                        <li role="presentation" id="user-link"{% if navigation.active == 'user' %} class="active"{% endif %}><a href="{{ path('acp.user') }}">{% trans from 'TwoMartensCoreBundle' %}acp.nav.user{% endtrans %}</a></li>
                        <li role="presentation" id="appearance-link"{% if navigation.active == 'appearance' %} class="active"{% endif %}><a href="{{ path('acp.appearance') }}">{% trans from 'TwoMartensCoreBundle' %}acp.nav.appearance{% endtrans %}</a></li>
                        <li role="presentation" id="content-link"{% if navigation.active == 'content' %} class="active"{% endif %}><a href="{{ path('acp.content') }}">{% trans from 'TwoMartensCoreBundle' %}acp.nav.content{% endtrans %}</a></li>
                    </ul>
                </nav>
            </aside>
        {% endblock %}
        <main>
            {% block mainContent %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        <!-- JS includes -->
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-{{ dependencies.jquery.version }}.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/{{ dependencies.bootstrap.version }}/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
